@model WebDev.Application.Models.Concept

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Concept</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pxordx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pxordx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oldpxordx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oldpxordx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codetype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codetype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concept_class_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concept_class_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concept_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concept_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vocabulary_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vocabulary_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domain_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domain_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Track)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Track)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Standard_concept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Standard_concept)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codewithperiods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codewithperiods)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codescheme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codescheme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Long_desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Long_desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Short_desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Short_desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code_status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code_change)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code_change)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code_change_year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code_change_year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code_planned_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code_planned_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code_billing_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code_billing_status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code_cms_claim_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code_cms_claim_status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex_cd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex_cd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anat_or_cond)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anat_or_cond)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poa_code_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poa_code_status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poa_code_change)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poa_code_change)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poa_code_change_year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poa_code_change_year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valid_start_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valid_start_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valid_end_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valid_end_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Invalid_reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Invalid_reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Create_dt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Create_dt)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Concept_id">Edit</a> |
    <a onclick="window.history.go(-1);" class="btn btn-outline-info">Back to List</a>
</div>
