@model WebDev.Application.Models.Concept

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Concept</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pxordx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pxordx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldPxordx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldPxordx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConceptClassId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConceptClassId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConceptId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConceptId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VocabularyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VocabularyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomainId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomainId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Track)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Track)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandardConcept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandardConcept)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeWithPeriods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeWithPeriods)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeScheme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeScheme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeChange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeChange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeChangeYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeChangeYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodePlannedType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodePlannedType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeBillingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeBillingStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeCmsClaimStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeCmsClaimStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SexCd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SexCd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnatOrCond)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnatOrCond)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoaCodeStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoaCodeStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoaCodeChange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoaCodeChange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoaCodeChangeYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoaCodeChangeYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvalidReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvalidReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDt)
        </dd>
    </dl>
</div>
<div>
   <div>
        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-pencil-alt"></i></a>
        <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
    </div>
</div>
