@model IEnumerable<WebDev.Application.Models.Concept>
@{
    ViewData["Title"] = "ConceptListView";
}
<body style="background-color:lightgrey;">
    <div class="container">
        <h1 >Concept List</h1>
        <p>
            <a asp-action="Create" style="color:white" class="btn btn-info"><i class="fas fa-plus-circle"></i> Create New</a>
        </p>
    </div>

    <div class="container">
        <table class="table table-bordered" id="conceptsTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th><p style="font-family:verdana;text-align:center;">Actions</th>
                    <th><p style="font-family:verdana;text-align:center;">ID</th>
                    <th><p style="font-family:verdana;text-align:center;">Concept Id</th>
                    <th><p style="font-family:verdana;text-align:center;">Vocabulary Id</th>
                    <th><p style="font-family:verdana;text-align:center;">Domain Id</th>
                    <th><p style="font-family:verdana;text-align:center;">Short Description</th>
                    <th><p style="font-family:verdana;text-align:center;">Code Status</th>
                    <th><p style="font-family:verdana;text-align:center;">Code Change</th>
                    <th><p style="font-family:verdana;text-align:center;">Invalid Reason</th>
                    <th><p style="font-family:verdana;text-align:center;">Create Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-concept_Id="@item.concept_Id"><i class="fas fa-edit"></i>Edit</a>
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-concept_Id="@item.concept_Id"><i class="fas fa-info-circle"></i>Details</a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-concept_Id="@item.concept_Id"><i class="fas fa-trash-alt"></i>Delete</a>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.id)</td>
                        <td>@Html.DisplayFor(modelItem => item.concept_Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.vocabulary_Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.domain_Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.short_Desc)</td>
                        <td>@Html.DisplayFor(modelItem => item.code_Status)</td>
                        <td>@Html.DisplayFor(modelItem => item.code_Change)</td>
                        <td>@Html.DisplayFor(modelItem => item.invalid_Reason)</td>
                        <td>@Html.DisplayFor(modelItem => item.create_Dt)</td>
                    </tr>
                }
        </table>
    </div>
    </body>

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('#conceptsTable').DataTable();
            });
        </script>
    }
