@model IEnumerable<WebDev.Application.Models.Concept>

@{
    ViewData["Title"] = "ConceptListView";
}


<div class="container">
    <h1>Concept List</h1>
    <p>
        <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Create New</a>
    </p>
</div>

<div class="container">
    <table class="table table-bordered" id="conceptsTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConceptId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Track)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StandardConcept)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DomainId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SexCd)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConceptId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Track)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StandardConcept)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DomainId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SexCd)
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id" asp-route-conceptid="@item.ConceptId">Edit</a>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-conceptid="@item.ConceptId">Details</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id" asp-route-conceptid="@item.ConceptId">Delete</a>
                    <!--asp-route-conceptid="@item.ConceptId"-->
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
		$(document).ready( function () {
		    $('#conceptsTable').DataTable();
		} );
    </script>
}